note.txt
out.txt
out.qasp2qbf
depth.txt
no_does.txt
static_rel.txt 
extra-quantifier.lp
smodels.txt
move_smodels.txt
try.lp
out_plain.txt
build/
__pycache__/
minimax_c.cpython-310-x86_64-linux-gnu.so
minimax_c.c


